body {
    font-family: sans-serif;
    line-height: 1.5;
}

header {
    text-align: center;
}

h1 {
    color: #0c0d0e;
    text-align: center;
    font-size: 4.35rem;
    line-height: 0.9;
}

h2 {
    color: #cb721c;
}

p {
    margin-block: 10px;
}

section {
    margin-block: 50px;
}

footer {
    background-color: #22466c;
    color: #ffffff;
    text-align: center;
    
}

a{
    color:red;
}

a:visited {
    color: rgb(4, 137, 17);
}
a:hover  {
    color: rgb(10, 2, 242);
}

.teal-bg {
    background-color: #087a98;
    color: rgb(255, 255, 255);
    border:#0b4a5a solid 6px;
    padding: 20px
}
.teal-text{
    color:#087a98;
}
.climber-bg{
    color: #ffffff;
    padding: 20px;
    background-image: url("images/bouldering-gym.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    margin-inline: auto;
}
img {
    max-width: 100%;
    height: auto;
    min-height: auto;
}